.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    
}

.cv-button{
    height: 300px;
    width: 500px;
    background-image: url('../../Photos/cvph.png');
    background-position: center;
    background-size: contain;
    position: relative;
    bottom: 100px;
    right: 200px;
    color: transparent;
    cursor: pointer;
}

.cv-button-mobile{
    height: 100px;
    width: 200px;
    background-image: url('../../Photos/cvph.png');
    background-position: center;
    background-size: contain;
    position: relative;
    bottom: 70px;
    right: 40px;
    color: transparent;
    cursor: pointer;
}

