.main {
    height: 100%;
    width: 100%;
    background-image: url('../../Photos/background.jpg');
    background-position: center;
    background-size: cover;
}

h1, h3{
    position:relative;
    right: 350px;
    bottom: 200px;
    color:whitesmoke
}

img {
    position: relative;
    right: 350px;
    bottom: 200px;
}