

.footer-body {
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#3a3b3c;
    height: 70px;
    width: 100%;
}

.main-part{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second-part{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-part p {
    margin-right: 100px;
}

.mobile-footer{
    position: sticky;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: center;
    background-color:#3a3b3c;
    height: 100px;
    width: 100%;
}
